html
  head
    title Data
    style.
      .table-bordered td, .table-bordered th {
        border: 1px solid #ddd;
        padding: 8px;
      }
  body
    table(class='table-bordered')
      thead
        tr
          each column in Object.keys(data[0])
            th= column
      tbody
        each row in data
          tr
            each column in Object.keys(row)
              td= row[column]
