<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API</title>
</head>
<body>
    <ul>
        <li>GET/educators - получить список всех преподавателей</li>
        <li>GET/educators?unit=x&post=y&rate=z - получить список преподавателей по фильтрам</li>
        <li>GET/educators/657 - получить список одного преподавателя по id из бд</li>
        <li>GET/entry - получить список дисциплин из входного файла (дисциплины, планы, ЗЕТ и тд.)</li>
        <li>GET/entry?workload=Практические,Экзамен - получить список дисциплин по фильтрам</li>
        <li>GET/entry/3829 - получить список одной дисциплины по id из бд</li>
    </ul>
</body>
</html>